.integration{
  margin-top: 120px;
  &__title{
    font-weight: 800;
    font-size:56px;
    color: #23549f;
    margin-bottom: 40px;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      width: 40%;
      height: 400px;
    }
    p{
      margin-bottom: 30px;
      font-size: 22px;
      font-weight: 600;
    }
  }
  &__left{
    width: 55%;
  }
  &__city{
    font-weight: 800;
    font-size:56px;
    color: #23549f;
    margin-bottom: 40px;
    margin-top: 80px;
  }
  &__info{
    font-size: 24px;
    font-weight: 600;
  }
  &__partners{
    text-align: center;
    color: #23549f;
    font-weight: 800;
    font-size: 32px;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  &__partner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    img{
     
      width: 23%;
      height: 200px;
    }
  }
}