.request{
  background: #292929;
  padding: 60px 0 80px;
  margin-top: 60px;
  &__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__txt,&__numb{
    margin-top: 30px;
  }
  &__error{
    color: #E64926;
  }
  &__select{
    padding: 0 20px;
    height: 54px;
    border-radius: 8px;
    margin-bottom: 30px;

  }
  &__option{
    padding: 20px;
  }
  &__left{
  width: 45%;
    color: #fff;
    h2{
      font-size: 60px;
      font-weight: 700;

      span{
        line-height: 40px;
        font-size: 26px;
      }
    }

  }
  &__form{
    width: 45%;
input{
  width: 100%;
  height:54px ;
  border: 1px solid #c8c8c8;
  border-radius: 8px;
  padding-left: 20px;

  font-size: 20px;
  color: black;
}
    textarea{
      width: 100%;
      height: 108px;
      border: 1px solid #c8c8c8;
      border-radius: 8px;
      padding-left: 20px;
      margin-bottom: 30px;
      font-size: 20px;
      color: black;
    }

  }


}
@media (max-width: 769px) {
  .request__box{
    flex-direction: column;
  }
  .request__left h2{
    font-size: 36px;
    text-align: center;
  }
  .request__left{
    width: 100%;
  }
  .request__form{
    width: 100%;
  }
}
