.header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 23px 15px 22px;
  transition: background .3s ease;
  z-index: 100;
  width: 100%;
  background: #11111170;
  &.scrolled{
    background: #111;
  }
}

.header__{
  &container{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &logo{
   width: 189px;
    svg{
      fill: #ffffff;
    }
  }
  &menu{
    display: flex;
  }


}
.container{
  margin: 0 auto;
}
@media (max-width: 1440px) {

}

@media (max-width: 1201px) {
}

@media (max-width: 1025px) {
}

@media (max-width: 769px ) {
  .header__{
    &menu{
      display: none;
      &_active{
        display: flex;
        position: absolute;
        top: 60px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: #11111180;
        z-index: 99;
        height: 100vh;
      }
    }
  }
}

@media (max-width: 481px ) {
}
