@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800;900&display=swap');


.header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 15px 10px ;
  transition: background .3s ease;
  z-index: 102;
  width: 100%;
  background: #80808090;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  &.scrolled{
    background: #1392cd;
  }


}
.skypark{
width: 170px;
  height: 35px;
}
.smagic{
  width: 140px;
  height: 50px;
}

.header__{

  &container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &logo{
    display: flex;

    align-items: center;
    column-gap: 10px;
    svg{
      fill: #ffffff;
    }
  }
  &menu{
    display: flex;
  }


}
.container{
  margin: 0 auto;
}
@media (max-width: 1440px) {

}



@media (max-width: 1025px) {
  .header__{
    &container.container{
      justify-content: space-between;
      padding: 0 30px;

    }
    &menu{
      display: none;
      &_active{
        display: flex;
        position: absolute;
        top: 200px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: #11111180;
        z-index: 99;
        height: 100vh;
      }
    }
  }
}

@media (max-width: 769px ) {
  .header__{
    &container.container{
      justify-content: space-between;

    }
    &menu{
      display: none;
      &_active{
        display: flex;
        position: absolute;
        top: 200px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: #11111180;
        z-index: 99;
        height: 100vh;
      }
    }
  }

}

@media (max-width: 481px ) {

}

