.gallery{
  .container{
    padding: 150px 0  0;

  }
  &__sliders{
    height: 100vh;
  }
  &__tsum{
    width: 33%;
  }

}


.photo{
  &__wrapper {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
  }
  &__box{

    width: 33%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    &:hover{
      transform: scale(1.1);
    }
    button{
      border-radius: 10px;
    }
    a{
      width: 100%;
    }
  }
  &__img{
    width: 100%;
  }
  &__title{

  }

}
