.priceHome__img.sky{
  padding: 13px 0;
  width: 75%;
}

.priceHome{
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  background: url("Asset 5 (2).png")center/cover no-repeat;

  &__title{
    color: #1392cd;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;

  }
  &__box{
    display: flex;
    justify-content: space-between;
  }
  &__card{
    width: 290px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    text-align: center;
    background:white;
    padding: 20px 0;
    box-shadow: 0 0 20px 3px rgba(34, 60, 80, 0.2);
    overflow: hidden;



    color: #1392cd;
    border-radius: 20px;
    img{
      width: 70%;
    }
    h3{
      padding: 5px 8px;
      background: white;
      color: #1392cd;
font-weight: 600;
      border-radius: 8px;
      font-size: 30px;
    }
    p{
      font-size: 14px;
      font-weight: 500;
    }
    h2{
      font-size: 20px;
      font-weight: 500;
    }
    a{
      width: 100%;
    }
    button{

      width: 70%;
      height: 36px;
    color: white;
      font-weight: 400;
      font-size: 20px;
      background:#1392cd ;
      border-radius: 8px;
    }
    button:hover{
      background: linear-gradient(90deg, rgb(234, 196, 66) 0%, rgb(225, 58, 45) 100%);
      color: white;
      cursor: pointer;
    }
  }
}