.priceHome{
  padding-top: 30px;
  &__title{
    color: #23549f;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 30px;

  }
  &__box{
    display: flex;
    justify-content: space-between;
  }
  &__card{
    width: 290px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
    text-align: center;
    background: #2343ad;
    padding: 40px 0;
    box-shadow: 7px 6px 7px 0 rgba(34, 60, 80, 0.2);


    color: white;
    border-radius: 20px;
    img{
      width: 50%;
    }
    h3{
      padding: 5px 8px;
      background: white;
      color: #2343ad;
      font-weight: 600;
      border-radius: 8px;
      font-size: 26px;
    }
    p{
      font-size: 20px;
    }
    h2{
      font-size: 34px;
      font-weight: 700;
    }
    a{
      width: 100%;
    }
    button{

      width: 100%;
      height: 36px;
      color:#2343ad;
      font-weight: 700;
      font-size: 20px;
    }
  }
}