.reviews__skypark{
  padding-top: 100px;
  h2{
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    color: #23549f;
  }
}
.reviews__box{
  display: flex;
  justify-content: space-between;
}

.reviews__one{
  width: 16%;
  height: 250px;
  background: linear-gradient(90deg, rgba(234,196,66,1) 0%, rgba(225,58,45,1) 100%);
  border-radius: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2px 3px;

  h3{
    font-weight: 700;

  }
  h3:after{
    width: 100%;
    content: '';
    height: 1px;
    display: block;
    background: linear-gradient(90deg, rgba(234,196,66,1) 0%, rgba(225,58,45,1) 100%);

  }
}
.reviews__module{
  background: white;
  height: 100%;
  border-radius: 30px;
  padding: 10px;

}