.loyalty{
  padding-bottom: 70px;
  &__title{
    text-align: center;
    color: #23549f;
    font-size: 46px;
    font-weight: 800;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  &__info{
    width: 45%;
    h3{
      font-size: 36px;
    }
  }
  &__photo{
    width: 45%;
  }
  &__card{
    width: 500px;
    padding: 0 20px 20px 20px;
    background: #f5a51a;
    color: white;
    border-radius: 20px;
    transform: rotate(-5deg);
    h2{
      font-size: 48px;
      margin-bottom: 90px;
      font-weight: 800;
    }
  }
  &__circles{
    display: flex;
    justify-content: space-between;
  }
  &__circle{
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
  }
}