.loyalty{
  padding-top: 30px;
  padding-bottom: 70px;
  &__title{
    text-align: center;
    color: #23549f;
    font-size: 46px;
    font-weight: 800;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  &__info{
    width: 45%;
    h3{
      font-size: 36px;
    }
  }
  &__photo{
    width: 45%;
    img{
      width: 100%;
    }
  }
}