.loyalty{
  padding-top: 30px;
  padding-bottom: 70px;
  &__title{
    text-align: center;
    color: #23549f;
    font-size: 34px;
    font-weight:600;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
  }
  &__info{
    width: 45%;
    h3{
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 20px;
      color: #23549f;
    }
    p{
      font-weight: 400;
    }
  }
  &__photo{
    width: 45%;
    img{
      width: 100%;
    }
  }
  &__gif{

  }
}