.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &-arrow{
    position: relative;
    width: 40px;
    align-self: center;
    bottom: -20px;
  }
  &-border{
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 15px 16px 0 #72727290,-3px -3px 16px 0 #72727290
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -60px;
  min-width: 250px;

  z-index: 1;
  flex-direction: column;
  .nav__link{
    color: #284AAC;
    padding: 10px 10px;
    &:hover{
      background: linear-gradient(135deg, rgba(19,146,205,1) 0%, rgba(229,206,3,1) 100%);
      color: #ffb825
    }
  }
}

.dropdown:hover .dropdown-content {
  display: flex;
}
.dropdown:hover .nav__link_active {
  color: #ffb825;
}
//.header__menu_active{
//  .dropdown{
//    text-align: center;
//  }
//  .dropdown-content{
//    display: flex;
//    position: relative;
//    background: none;
//    box-shadow: none;
//    padding: 0;
//    text-align: center;
//  }
//}
