.aboutParkTab{
  font-size: 30px;
  padding-bottom: 10px;
text-transform: uppercase;
  color:#1392cd;
  font-weight: 600;
  padding-top: 10px;

  width: 50%;
  cursor: pointer;
  background: white;
  transition: 1s;
  &.active{
    text-transform: uppercase;

    background: #1392cd;
    font-weight: 600;
    color: white;
    padding-top: 10px;

  }
}