.ticket{
  text-align: center;
  position: relative;
  flex-wrap: wrap;

  margin-top: 100px;
  width: 500px;
  height: 200px;
  background: #0A293D;
  &::before{
    width: 93%;
    position: absolute;
    content: "";
    border-top: 20px dotted #ffffff;
    left: 20px;
    top: 0;
    transform: translateY(-50%);
  }
  &::after{
    width: 93%;
    position: absolute;
    content: "";
    border-top: 20px dotted #ffffff;
    left: 20px;
    bottom: 0;
    transform: translateY(50%);
  }

  &__col{
    display: flex;
    flex-direction: column;
    border-bottom: 5px dotted #ffffff;
    font-size: 24px;
    width: 30%;
    transform: rotate(-90deg);
    position: absolute;
    top: 50px;
    left: 0;
    &-row{
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
  }
  &__place{
    background: #ffffff;
  }
  &__info{

    padding: 20px 20px 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

}