@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');
.vacancies{
  margin-top:70.31px;
  &__img{
    padding-top: 500px;
    padding-left: 70px;
    padding-bottom: 400px;
    background: url("images/DSC_4951_DxO.jpg")center/cover no-repeat;
    position: relative;
  }
  &__title{
    font-size: 50px;
    color: white;
    position: absolute;
    top: 40px;
    font-weight: 800;

  }
  &__swipper{
    text-align: center;
    img{
      width: 90%;
      height: 400px;
      object-fit: cover;
    }
  }
  &__icons {
    width: 200px;
    height: 200px;
    padding:20px 15px;
    background: #1392cd;
    border-radius: 20px;
  }



  &__icon {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    p{
      font-weight: 500;
      margin-top: 18px;
    }
    img{
      width: 70%;
      height: 60%;
    }

  }

  &__all {
    border-radius: 15px;
    width: 90%;
    background: white;
    padding: 24px 15px 32px 15px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  &__one {
    width: 49%;
    background: #f4f4f5;
    padding: 20px 20px;
    height: 350px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

    p {
      margin-bottom: 15px;
    }
  }

  &__name {
    color: #1392cd;
    font-weight: 800;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__footer {
    padding: 40px 0;
    margin-top: 40px;
    background: #f4f4f5;
    text-align: center;

    h2 {
      color: #1392cd;
      font-weight: 800;
      font-size: 38px;
    }
  }

  &__contact {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 59px;

    p {
      display: flex;
      font-weight: bold;
      column-gap: 15px;
      color: #1392cd;
      font-size: 24px;
    }

    span {
      font-size: 36px;
    }
  }

  &__swipper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__block{
    display: flex;
    column-gap: 30px;
    align-items: center;
    .oneVacancy__name {
      margin-bottom: 0;
    }
  }
  &__our {
    color: #1392cd;
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 20px;
  }
  &__vacancy{
    font-size: 40px;
    color: #1392cd;
    font-weight: 700;
    margin-top: 50px;
  }
  button{
    background: #1392cd;
    padding: 10px 20px;
    color: #f4f4f5;
  }
  &__img2{
    width: 55% !important;
    height: 62% !important;
  }
}