@import "src/scss/base/mixins";
.nav{
  display: flex;
  column-gap: 50px;
  align-items: center;
  &__btn{
    background: linear-gradient(45deg,#E9BC2E,#F0382B);
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px 20px ;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
      background:#F0382B;
      transform: scale(1.5);
      transition: 0.5s;
    }
  }
  &__acc{
    border: 2px solid #FFFFFF;
    padding: 5px 10px;
    border-radius: 10px;
  }
  &__link{
   @include text(500,15px,20px,#fff);
    &:hover{
      color: #ffb825;
      transform: scale(1.2);
      transition: 0.2s;

    }
  }
}
@media (max-width: 1440px) {
}

@media (max-width: 1201px) {
  .nav{
    column-gap: 30px;
  }
}

@media (max-width: 1025px) {
  .nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

@media (max-width: 769px ) {
  .nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 481px ) {
}
