.stock{
  background: linear-gradient(90deg, rgba(234,196,66,1) 0%, rgba(225,58,45,1) 100%);
  padding: 10px 0 20px;
  &__title{
  text-align: center;
    color: white;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 25px;
}

  &__card{
      &-wrapper{
        padding: 0 30px;
      }
    width: 270px;
    padding: 15px;
    background: white;
    border-radius: 17px;
    text-align: center;
    img{
      width: 100%;
      border-radius: 17px;
      height: 240px;
    }
    h4{
      color: #eac442;
      font-weight: bold;
      font-size: 22px;
    }
    p{
      color:#23549f ;
      font-weight: 500;
    }
    button{
      width: 130px;
      height: 24px;
      background: linear-gradient(90deg, rgba(234,196,66,1) 0%, rgba(225,58,45,1) 100%);
color: white;
      font-weight: 600;
      border-radius: 5px;
    }
  }
}