.stock{
  background:url("Asset 3 (1).png")center/cover no-repeat;
  padding: 10px 0 10px;

  &__title{
  text-align: center;

    font-weight: 600;
    font-size: 40px;
    margin-bottom: 25px;
    color:#fae002 ;
}

  &__card{
      &-wrapper{
        display: flex;
        padding: 0 30px;
        justify-content: center;
        align-items: center;

      }
    width: 300px;
    padding: 15px;
    background: none;
    border-radius: 17px;
    text-align: center;
    img{
      width: 100%;
      border-radius: 17px;
      height: 240px;
    }
    h4{
      color: white;
      font-weight: bold;
      font-size: 22px;
    }
    p{
      color: white; ;
      font-weight: 500;
    }
    button{
      width: 130px;
      height: 24px;
      background: linear-gradient(90deg, rgba(234,196,66,1) 0%, rgba(225,58,45,1) 100%);
color: white;
      font-weight: 600;
      border-radius: 5px;
    }
    button:hover{
      cursor: pointer;
      background: #23549f;
    }
  }
}
