.oneVacancy{
  margin-top: 153px;

  &__name {
    color: #1392cd;
    font-weight: 800;
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 30px;
    width: 60%;
    text-align: center;
  }
  &__lists{
    display: flex;
    justify-content: space-between;
    column-gap: 150px;

  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 28px -2px rgba(34, 60, 80, 0.2);
  }
}