.support{
padding-top: 150px;
  padding-bottom: 100px;
&__container{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
  &__left{
    width: 45%;
    img{
      width: 80%;
      margin-bottom: 50px;
    }
  }
  &__right{
    width: 45%;
    h2{
      font-size: 32px;
      color: #1392cd;
      font-weight: 600;
      margin-bottom: 30px;
    }
    a{
      font-size: 30px;
      color: #1392cd;
      font-weight: 500;
    }
  }
}