.franchise{
  margin-top: 120px;
  padding-bottom: 40px;
  &__about{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 70px;
    img{
      width: 35%;
      height: 360px;
    }
  }
  &__right{
    width: 50%;
    h2{
      font-size: 46px;
      color: #23549f;
      font-weight: 800;
    }
    li{
      color: black;
      font-size: 20px;
      font-weight: 600;
      margin-top: 30px;
      position: relative;
      margin-left: 25px;
    }
    li:before{
      content: '';
      display: flex;
      width: 15px;
      height: 15px;
      background: #23549f;
      border-radius: 50%;
      position: absolute;
      left: -25px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__expert{
    font-size: 48px;
    color: #23549f;
    font-weight: 800;
    margin-bottom: 40px;
  }
  &__card{
    display: flex;
    column-gap: 35px;
    align-items: center;
    margin-bottom: 30px;
    img{
      width: 100px;
      height: 100px;
    }
    p{
      font-size: 22px;
      font-weight: 600;
    }


  }



}