.franchise{
  margin-top: 120px;
  padding-bottom: 40px;
  &__about{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 70px;
    img{
      width: 26%;
      height: 270px;
    }
  }
  &__right{
    width: 50%;
    h2{
      font-size: 26px;
      color:#1392cd;
      font-weight: 700;
    }
    li{
      color: black;
      font-size: 18px;
      font-weight: 500;
      margin-top: 30px;
      position: relative;
      margin-left: 25px;
    }
    li:before{
      content: '';
      display: flex;
      width: 20px;
      height: 20px;
      background: url("STAR.png")center/cover no-repeat;
      position: absolute;
      left: -25px;
      top: 50%;
      transform: translateY(-50%);


    }
  }
  &__expert{
    font-size: 28px;
    color: #1392cd;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &__card{
    display: flex;
    column-gap: 35px;
    align-items: center;
    margin-bottom: 30px;
    img{
      width: 100px;
      height: 100px;
    }
    p{
      font-size: 16px;
      font-weight: 500;
    }


  }



}