.franchise{
  padding-bottom: 40px;
  &__banner{
    padding-top: 490px;
    padding-bottom: 50px;
    background: url("./Asset 9 (1).png")center/cover no-repeat;
    color: white;
    margin-bottom: 40px;
   h2{
     font-weight: bold;
     font-size: 56px;
   }
  }

&__about{
  display: flex;
justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-bottom: 50px;
  li{
    margin-left: 50px;
    position: relative;
    width: 40%;
    font-size: 24px;
    font-weight: 500;
  }
  li:before{
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("./STAR.png")center/cover no-repeat;
    top:45%;
    transform: translateY(-50%);
    left: -50px;
  }
}
  &__expert{
    font-size: 28px;
    color: #1392cd;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &__card{
    display: flex;
    column-gap: 35px;
    align-items: center;
    margin-bottom: 30px;
    img{
      width: 100px;
      height: 100px;
    }
    p{
      font-size: 16px;
      font-weight: 500;
    }


  }



}