.price{
  background: url("../../Support/bg1.svg")center/cover no-repeat;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding: 64px 0;
}

@media (max-width: 1440px) {
}

@media (max-width: 1201px) {

}

@media (max-width: 1025px) {
}

@media (max-width: 769px ) {
.price{
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
  .price-card__txt {
    padding: 10px;
  }
  &__card{
    width: 250px!important;
    height: 300px!important;
  }
}

@media (max-width: 481px ) {
 .price{
   flex-direction: column;
   align-items: center;
   padding: 30px 0;
   .price-card__txt {
     padding: 10px;
   }
   .price-card__img {
     height: 167px;
   }
   &__card{
     width: 250px!important;
     height: 300px!important;
   }
 }

}