.mapIcons{
  margin-top: 82px;
  padding-bottom: 100px;
  &__image{
    display: none;
  }
&__title{
  color: #1392cd;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
  &__container{
    position: relative;
    margin-top: 200px;
  }
  &__road{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    top:113px;
    z-index: -1;
  }
 &__left{
   width: 36%;
   display: flex;
   align-items: end;
  justify-content: start;
 .voennya{
     width: 140px;
     height: 90px;
   }
   .stroika{
     width: 140px;
     height: 125px;
   }
   .kut{
     width: 150px;
     height: 100px;
   }
 }
  &__right{
    width: 27%;
    display: flex;
    align-items: end;
    .ice{
      width: 140px;
      height: 90px;
    }
    .veterinar{
      width: 140px;
      height: 87px;
    }
  }
  &__row{
    display: flex;
    justify-content: center;
    column-gap: 42px;
    align-items: end;
    margin-bottom: 28px;
    .shahta{
      width: 150px;
      height: 87px
    }
    .pekarnya{
      height: 100px;
      width: 158px;
    }
    .ferma{
      height: 106px;
      width: 154px;
    }
    .police{
      height: 108px;
      width: 145px;
    }
    .pochta{
      height: 108px;
      width: 144px;
    }
    .clinic{
      height: 117px;
      width: 136px;
    }

  }
  &__row2{
    display: flex;
    justify-content: center;
    column-gap: 0;
    align-items: end;
    margin-bottom: 20px;
    .beelain{
      height: 90px;
      width: 120px;
    }
    .arheologia{
      height: 90px;
      width: 125px;
    }
    .fabrica{
      height: 90px;
      width: 130px;
    }
    .salon{
      height: 90px;
      width: 140px;
    }
    .dom{
      height: 110px;
      width: 130px;
    }
    .scena{
      height: 90px;
      width: 120px;
    }
    .teatr{
      height: 90px;
      width: 120px;
    }
    .pojarnya{
      height: 90px;
      width: 140px;
    }
  }
  &__row3{
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 0;
  }
  &__left2{
    width: 30%;
    display: flex;
  }
  &__right2{
    width: 28%;
    display: flex;
  }
  &__row4{
    display: flex;
    justify-content: center;
    column-gap: 115px;
    align-items: end;
    margin-top: 75px;
    .bank{
      width: 140px;
      height: 90px;
    }
    .globus{
      width: 160px;
      height: 90px;
    }
    .eko{
      width: 140px;
      height: 90px;
    }
    .sto{
      width: 140px;
      height: 90px;
    }
    .petroleum{
      width: 150px;
      height: 90px;
    }

  }
}