.parks{
  padding: 30px 0 45px;
  background: url("../PriceTicket/Asset 5 (2).png")center/cover no-repeat;

}

.parks__{
  background: #f7f7f7;
  &img{
    width: 250px;
    height: 260px;

  }



 &branches{
   text-align: center;
   font-weight: 800;
   color: #1392cd;
   margin: 20px 0;
   font-size: 50px;
 }

  &cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;
  }
  &text{
    span{
      font-weight: normal;
    }



  }
  &card{
    width: 286px;
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #1392cd;
    overflow: hidden;
    height: 100%;
    padding-top: 20px;








    img:hover{
      cursor: pointer;
    }
    h3{


      font-weight: bold;
      margin: 10px 0;
      text-align: center;
    }
    button{
     width: 200px;
      height: 30px;
      border-radius: 20px;
      color: white;
      background:#f5a51a;
      border: none;
      cursor: pointer;
    }
    button:hover{
      background:#1392cd;
    }


  }

}
.parks__skypark{
  width: 190px;
  height: 30px;
  margin-bottom: 12px;
}
.parks__logo{
  width: 190px;
  height: 60px;
}
