.parks{
  padding: 30px 0 45px;
}

.parks__{
  background: #f7f7f7;

 &branches{
   text-align: center;
   font-weight: 800;
   color: rgb(32, 34, 73);
   margin: 20px 0;
 }
  &space,&space2{
    position: relative;
  }
  &space:after{
  content: '';
    display: block;
    width: 240px;
    height: 300px;
    background: #23549f;
    position: absolute;
    z-index: -1;
    border-radius: 86px;
    top: 3px;
    right: -5px;
    clip-path: polygon(8% 0, 100% 0, 92% 100%, 0 100%);
  }
  &space2:after{
    content: '';
    display: block;
    width: 240px;
    height: 300px;
    background: #f5a51a;
    position: absolute;
    z-index: -1;
    border-radius: 86px;
    top: 3px;
    right: -5px;
    clip-path: polygon(8% 0, 100% 0, 92% 100%, 0 100%);
  }
  &cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;
  }
  &text{
    span{
      font-weight: normal;
    }
  }
  &card{
    width: 250px;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #23549f;


    img{
      width: 240px;
      height: 300px;
      clip-path: polygon(8% 0, 100% 0, 92% 100%, 0 100%);
      border-radius: 86px;



    }
    h3{


      font-weight: bold;
      margin: 10px 0;
    }
    button{
     width: 200px;
      height: 30px;
      border-radius: 20px;
      color: white;
      background:#f5a51a;
      border: none;
      cursor: pointer;
    }


  }

}