.about-park{
  .container{
    padding: 80px 0;
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
  }
  &__tabs{
    overflow: hidden;

    border: 4px solid #1392cd;
    border-radius: 10px;

  }
  &__card{
    padding: 30px 30px;
    width: 250px;
    height: 250px;
    text-align: center;
  }
  &__txt{
    color: #000000;
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
  }
  &__img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    //background: #284AAC;
    img{
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
}

@media (max-width: 1440px) {
}

@media (max-width: 1201px) {

}

@media (max-width: 1025px) {
  .about-park{
    .container{
      padding: 30px;
    }
  }
}

@media (max-width: 769px ) {


}

@media (max-width: 481px ) {
  .about-park{
    .container{
      padding: 20px;
    }
  }
}

