.about-park{
  .container{
    padding: 80px 0;
  }
}

@media (max-width: 1440px) {
}

@media (max-width: 1201px) {

}

@media (max-width: 1025px) {
  .about-park{
    .container{
      padding: 30px;
    }
  }
}

@media (max-width: 769px ) {


}

@media (max-width: 481px ) {
  .about-park{
    .container{
      padding: 20px;
    }
  }
}

