.aboutPark{
  background: url("./AboutPark.jpg");
  .container{
    padding: 80px 0;
    display: flex;
    align-items: start;
  }
  &__left{
    background: #a19f9f;
    width: 40%;
    padding: 40px;
  }
  &__right{
    background: #4d158199;
    padding: 40px;
  }
}