@import "src/scss/base/mixins";
.place{
  &__{
    &container{
      position: relative;
    }
    &txt{
      position: absolute;
      top: 50%;
      left: 100px;
      z-index: 99;

    }
    &title{
      @include text(500,48px,45px,#fff);

    }
    &p{
      @include text(500,12px,22px,#fff);

    }
  }
}
