@import "src/scss/base/mixins";
.place{
  &__{
    &container{
      position: relative;
    }
    &txt{
      position: absolute;
      top: 50%;
      left: 100px;
      z-index: 1;
      background: #11111170;
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 1px );
      -webkit-backdrop-filter: blur( 8px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      padding: 40px;
    }
    &title{
      @include text(500,48px,45px,#fff);

    }
    &p{
      @include text(500,12px,22px,#fff);

    }

  }
}














@media (max-width: 1440px) {
}

@media (max-width: 1201px) {

}

@media (max-width: 1025px) {
}

@media (max-width: 769px ) {

}

@media (max-width: 481px ) {
 .place{

   &__txt{
     padding: 10px;
     left: 30px;
     top: 60%;
   }
   &__title{
     @include text(500,40px,35px,#fff);

   }
   &__p{
     @include text(500,10px,8px,#fff);

   }
   .place__swiper .swiper-slide img {
     height: 70vh;

   }
 }
}

