.allStock{
  padding-top: 120px;


  &__title{
    font-size: 54px;
    font-weight: 800;
    color: rgba(19,146,205,1);
   text-align: center;
    margin-bottom: 30px;
  }
  &__oneStock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin-bottom: 10px;
    background: rgba(19,146,205,1);
border-radius: 39px;
    padding: 5px;
    img{
      width: 50%;
      height: 100%;
      border-radius: 40px;
    }


  }
  &__info{
color: white;
    padding-left: 40px;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__name{
color: rgba(229,206,3,1);
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 800;
  }
  &__text{

    font-size: 24px;
    font-weight: normal;
  }
  &__clock{
    font-size: 32px;
    font-weight: 700;
    color: rgba(229,206,3,1);

  }

}