.aboutCompany{
  padding-top: 120px;
  background: url("bg1.svg")center/cover no-repeat;
  &__title{
    margin-bottom: 30px;
    font-size: 34px;
  }
  p{
    margin-bottom: 20px;
  }
  &__mission{
    margin-bottom: 20px;
    font-size: 34px;
  }
&__contact{
  font-size: 34px;
}

}