.portfolio {
  background: #80808010;

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    border-radius: 15px;
    overflow: hidden;
  }

  .swiper-slide img {
    display: block;
    width: 100%;

  }
}