.portfolio {
  background: #80808010;

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    border-radius: 15px;
    overflow: hidden;
  }

  .swiper-slide img {
    display: block;
    width: 100%;

  }
}
@media (max-width: 769px ) {
  .portfolio .swiper-slide {
    width: 100%;
  }
  .portfolio .swiper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 481px ) {
  .portfolio .swiper-slide {
    width: 100%;
  }
  .portfolio .swiper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}