
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800;900&display=swap');
@import "base/mixins";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  resize: none;
  outline: none;
  border: none;

  font-weight: 300;

}
@mixin text($f-weight,$f-size,$f-height,$f-color){
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: $f-height;
  color: $f-color;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
}
main{
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 1440px) {
 .container{
   max-width: 1240px;
 }
  .mapIcons__row{
    column-gap: 12px;
    margin-bottom: 41px;
  }
  .mapIcons__row2 {
    margin-bottom: 9px;
    column-gap: 10px;
  }
  .mapIcons__row2 img:nth-child(1){
    height: 83px;
    width: 110px;
  }
  .mapIcons__row2 img:nth-child(2){
    height: 78px;
    width: 115px;
  }
  .mapIcons__row2 img:nth-child(3){
    height: 76px;
    width: 110px;
  }
  .mapIcons__row2 img:nth-child(4){
    height: 73px;
    width: 100px;
  }
  .mapIcons__row2 img:nth-child(5){
    height: 80px;
    width: 100px;
  }
  .mapIcons__row2 img:nth-child(6){
    height: 73px;
    width: 100px;
  }
  .mapIcons__row2 img:nth-child(7){
    height: 73px;
    width: 100px;
  }
  .mapIcons__row2 img:nth-child(8){
    height: 73px;
    width: 100px;
  }
  .mapIcons__row3{
    column-gap: 36px;
  }
  .mapIcons__row4{
    column-gap: 93px;
    margin-top: 57px;
  }
  .mapIcons__left2{
    width: 34%;
  }
  .mapIcons__right2{
    width: 32%;
  }

}
@media (max-width: 1300px) {
  .lastBanner{
    padding: 200px 0 250px;
  }
  .mapIcons__row{
    column-gap: 12px;
    margin-bottom: 41px;
  }
  .mapIcons__row2 {
  margin-bottom: 9px;
    column-gap: 10px;
  }
  .mapIcons__row2 img:nth-child(1){
  height: 83px;
    width: 110px;
  }
  .mapIcons__row2 img:nth-child(2){
    height: 78px;
    width: 115px;
  }
  .mapIcons__row2 img:nth-child(3){
    height: 76px;
    width: 110px;
  }
  .mapIcons__row2 img:nth-child(4){
    height: 73px;
    width: 100px;
  }
  .mapIcons__row2 img:nth-child(5){
    height: 80px;
    width: 100px;
  }
  .mapIcons__row2 img:nth-child(6){
    height: 73px;
    width: 100px;
  }
  .mapIcons__row2 img:nth-child(7){
    height: 73px;
    width: 100px;
  }
  .mapIcons__row2 img:nth-child(8){
    height: 73px;
    width: 100px;
  }
  .mapIcons__row3{
    column-gap: 36px;
  }
  .mapIcons__left{
    width: 34%;
    justify-content: end;
  }
  .mapIcons__right{
    width: 31%;
  }
  .mapIcons__row4{
    column-gap: 93px;
    margin-top: 57px;
  }
  .mapIcons__left2{
    width: 34%;
  }
  .mapIcons__right2{
    width: 32%;
  }
}
@media (max-width: 1239px) {
  .container {
    max-width: 1000px;
  }
  .mapIcons__road{
    top: 100px;
  }
  .mapIcons__row{
    column-gap: 5px;
    margin-bottom: 34px;
  }
  .mapIcons__row img:nth-child(1) {
    width: 130px;
    height: 80px;
  }
  .mapIcons__row img:nth-child(2) {
    width: 125px;
    height: 83px;
  }
  .mapIcons__row img:nth-child(3) {
    width: 130px;
    height: 80px;
  }
  .mapIcons__row img:nth-child(4) {
    width: 130px;
    height: 92px;
  }
  .mapIcons__row img:nth-child(5) {
    width: 115px;
    height: 85px;
  }
  .mapIcons__row img:nth-child(6) {
    width: 110px;
    height: 79px;
  }
  .mapIcons__row2 {
    margin-bottom: 27px;
    column-gap: 0;
  }
  .mapIcons__row2 img:nth-child(1){
    height: 73px;
    width: 90px;
  }
  .mapIcons__row2 img:nth-child(2){
    height: 70px;
    width: 95px;
  }
  .mapIcons__row2 img:nth-child(3){
    height: 70px;
    width: 90px;
  }
  .mapIcons__row2 img:nth-child(4){
    height: 70px;
    width: 90px;
  }
  .mapIcons__row2 img:nth-child(5){
    height: 70px;
    width: 90px;
  }
  .mapIcons__row2 img:nth-child(6){
    height: 60px;
    width: 80px;
  }
  .mapIcons__row2 img:nth-child(7){
    height: 70px;
    width: 90px;
  }
  .mapIcons__row2 img:nth-child(8){
    height: 70px;
    width: 80px;
  }
  .mapIcons__row3{
    column-gap: 90px;
  }
  .mapIcons__left{
    width: 27%;
  }
  .mapIcons__right{
    width: 26%;
  }
  .mapIcons__left img:nth-child(1){
    width: 100px;
    height: 70px;
  }
  .mapIcons__left img:nth-child(2){
    width: 110px;
    height: 85px;
  }
  .mapIcons__left img:nth-child(3){
    width: 108px;
    height: 72px;
  }
  .mapIcons__right img:nth-child(1){
    width: 110px;
    height: 75px;
  }
  .mapIcons__right img:nth-child(2){
    width: 110px;
    height: 75px;
  }
  .mapIcons__row4{
    column-gap: 93px;
    margin-top: 57px;
  }
  .mapIcons__left2{
    width: 34%;
  }
  .mapIcons__right2{
    width: 32%;
  }
  .mapIcons__row4 img:nth-child(1){
    width: 110px;
    height: 75px;
  }
  .mapIcons__row4 img:nth-child(2){
    width: 110px;
    height: 75px;
  }
  .mapIcons__row4 img:nth-child(3){
    width: 110px;
    height: 75px;
  }

  .price__card{
    width: 45%;
    flex-direction: column;
    align-items: center;
  }
  .price__card-text{
    text-align: center;
  }
  .price__card-price{
    font-size: 68px;
    display: flex;
    align-items: center;
  }
  .map .container{
    flex-direction: column;
    align-items: center;
  }
  .map__google{
    width: 90%;
  }
  .lastBanner{
    padding: 200px 0 250px;
  }
  .nav {
    column-gap: 20px;
  }
  .banner__smagic {
    font-size: 30px;
    margin-bottom: 20px;
  }


  .priceHome__box{
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 40px;
  }
  .application{
    margin-bottom: 30px;
  }
  .services__box h2{
    font-size: 30px;
  }
  .services__card{
    text-align: center;
  }
  .reviews__box{
    justify-content: center;
  }
}

@media (max-width: 999px) {
  .container{
    max-width: 900px;
  }
.mapIcons__image{
  display: block;
  width: 90%;
}
  .place__title{
    font-size: 28px;
  }
  .mapIcons__container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mapIcons__road{
    display: none;
  }

  .mapIcons__row{
    display: none;
  }
  .mapIcons__row2{
    display: none;
  }
  .mapIcons__row3{
    display: none;
  }
  .mapIcons__row4{
    display: none;
  }
  .lastBanner{
    padding: 150px 0 180px;
  }
  .vacancies__icon{
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: center;
    column-gap: 30px;
  }
  .franchise__about img{
    width: 70%;
  }
  .services__box{
    flex-direction: column;
    row-gap: 30px;
  }
  .services__box img{
    width: 70%;
  }
  .services__cards{
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
  }
  .services__right{
    width: 100%;
    text-align: center;
  }
  .services__icons{
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .services__variants li{
    position: static;
    text-align: center;
  }
  .services__text li{
    position: static;
    text-align: center;
  }
  .franchise__about{
    flex-direction: column;

  }
  .franchise__about h2{
    font-size: 30px;
  }

  .franchise__img{
    img{
      width: 90%;
      height: 40vh;
    }
  }


  .projects__container{
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
  .projects__info{
    width: 90%;
  }
  .projects__photo{
    width: 90%;
  }
  .projects__attraction{
    justify-content: center;
    column-gap: 60px;
  }
  .footer__lists{
    flex-wrap: wrap;
    column-gap: 0;
  }
  .footer__list{
    padding: 20px;
  }
  .place__txt{
    width: 45%;
    height: 400px;
    right: 70px;
  }
  }

@media (max-width: 769px ) {
  .container{
    max-width: 669px;
  }
  .place__title{
    font-size: 26px;
    line-height: 30px;
  }

  .integration__box{
    flex-direction: column;
  }
  .integration__box img{
    width: 100%;
  }
  .integration__box p{
    width: 100%;
  }
  .reviews__form{
    flex-direction: column;
  }
  .reviews__right{
    width: 100%;
  }
  .about-park__card{
    width: 205px;
  }
  .footer .container{
    padding: 0;
  }
  .footer__lists{
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .footer__list{
    padding: 0;
  }

  .banner__smagic{
    font-size: 24px;
  }
  .banner__text{
    font-size: 20px;
  }
  .banner .banner__second-slider{
    padding-top: 89px;
  }
  .aboutCompany__info{
    flex-direction: column;
  }
  .aboutCompany__info img{
    width: 60%;
  }
  .aboutCompany__right{
    width: 100%;
  }
  .application__box{
    flex-direction: column;
  }
  .application__left{
    width: 100%;
  }
  .application__form{
    width: 100%;
    margin-top: 20px;
  }
  .footer__connection{
    flex-wrap: wrap;

  }
  .franchise__top{
    flex-direction: column;
    row-gap: 30px;
  }
  .franchise__bottom{
    flex-direction: column;
    row-gap: 30px;
  }
  .franchise__card{
    width: 100%;
  }
  .footer__lists{
    column-gap: 1px;
  }
  .franchise__img img{
    height: 15vh;
  }
  .franchise__card p{
    font-size: 18px;
  }
  .price__cards{
    justify-content: space-between;
    column-gap: 0;
    flex-direction: column;
    row-gap: 40px;
  }
  .price__card{
    width: 90%;
  }
  .price__title{
    font-size: 50px;
  }
  .place__txt{
    width: 50%;
    height: 350px;
    right: 60px;
  }
  .reviews__left h2{
    font-size: 36px;
  }
  .integration__swiper img {
  width: 270px;
  }
  .integration__swiper{
    flex-direction: column;
    row-gap: 30px;
  }
  }
@media (max-width: 669px) {
  .parks__cards {
    row-gap: 0;
    column-gap: 7px;
  }
  .place__title{
    font-size: 24px;
  }
  .place__p{
    font-size: 16px;
    line-height: 24px;
  }
  .parks__card {
    width: 177px;
  }
  .parks__img {
    width: 147px;
    height: 140px;
  }
  .parks__logo {
    width: 117px;
    height: 41px;
  }
  .parks__card h3 {
    margin: 0;
  }
  .parks__skypark {
    width: 130px;
    height: 23px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .container{
    max-width:481px ;
  }
  .services__card{
    flex-direction: column;
  }
  .services__text{
    width: 100%;
  }
  .services__image{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }
  .services__image img{
    width: 250px;
  }
  .banner__text{
    font-size: 11px;
    margin-bottom: 2px;
  }
  .banner__smagic{
    font-size: 13px;
    margin-bottom: 3px;
  }
  .banner .banner__btn{
    padding: 10px 15px;
    margin-top: 5px;
  }
  .footer__lists{
    justify-content: center;
    row-gap: 15px;
  }
  .footer__list{
    width: 200px;
  }
  .lastBanner{
    padding: 90px 0 100px;
  }
  .price__card{
    padding: 10px 15px;
  }
  .price__card-price{
    font-size: 50px;
  }
  .price__card-title{
    font-size: 30px;
  }
  .price__card-desc{
    font-size: 24px;
  }
  .place__txt{
    .place__txt {
      width: 53%;
      height: 215px;
      right: 60px;
    }
  }
}

@media (max-width: 481px ) {
  .container{
    max-width: 421px;

  }

  .reviews__skypark .branch__menu{
    width: 100%;
  }
  .services__right{
    text-align: center;
  }
  .footer__lists{
    column-gap: 1px;
  }

  .footer__lists{
    margin-left: 20px;
    justify-content: left;
  }
  .lastBanner{
    padding: 80px 40px;
  }
  .application__title{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .application__box{
    padding: 25px;
  }
  .application__miniTitle{
    font-size: 18px;
  }
  .reviews__skypark .branch__menu{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  .header__logo img{

  }
  .reviews__form{
    flex-direction: column;
    padding: 13px 15px 15px 19px;
  }

  .reviews__left{
    width: 100%;
  }
  .reviews__left p{
    font-size: 18px;
    width: 100%;
  }
  .reviews__radios{
    flex-wrap: wrap;
  }
  .reviews__right{
    width: 100%;
  }
  .reviews__row{
    flex-direction: column;
  }
  .reviews__stars{
    width: 100%;
  }
  .integration__partner{
    flex-wrap: wrap;
  }
  .about-park__content{
    justify-content: space-between;
  }
  .about-park__card{
    width: 100px;
    height: 130px;
  }
  .about-park__img{
    width: 100%;
    height: 100px;
  }
  .about-park__txt{
    font-weight: 500;
    font-size: 15px;
  }
  .skypark{
    width: 110px;
    height: 23px;
  }
  .smagic{
    height: 36px;
    width: 100px;

  }
  .header{
    padding: 5px 15px 5px;
  }
  .parks__cards{
    row-gap: 0;
    column-gap: 7px;
  }
  .parks__card{
    width: 177px;
  }
  .parks__img{
    width: 147px;
    height: 140px;
  }
  .parks__logo{
    width: 117px;
    height: 41px;
  }
  .parks__skypark{
    width: 130px;
    height: 23px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .parks__card h3{
    margin:0;
  }
  .priceHome__box{
    column-gap: 20px;
    row-gap: 20px;
  }
  .priceHome__card{
    width: 170px;
    row-gap: 4px;
  }
  .priceHome__card h3{
    font-size: 25px;
    padding: 2px 0;
  }
  .priceHome__card h2{
    font-weight: 600;
  }
  .priceHome{
    padding-top: 20px;
  }
  .priceHome__title{
    margin-bottom: 17px;
  }
  .services__box h2{
    font-size: 24px;
  }
  .services__one{
    width: 150px;
    height: 200px;
  }
  .services__one p {
    font-size: 11px;
  }
    .services__image{
column-gap: 20px;
  }
  .services__image img{
    width: 140px;
    box-shadow: 4px 6px 4px 0 rgba(34, 60, 80, 0.10);
    border-radius: 8px;
  }
  .services__event{
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .services__card{
    flex-direction: row;
    text-align: start;
    column-gap: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .services__card img {
width: 100px;
    height: 100px;
    border-radius: 15px;
  }
  .services__card h3{
    font-size: 20px;
  }
  .services__card p{
    font-size: 11px;
  }
  .application__form input{
    height: 40px;
    font-size: 17px;
  }
  .application__goal select{
    font-size: 16px;
  }
  .application__message{
    height: 130px;
  }
  .franchise__about{
    flex-direction: row;
    justify-content: center;
    column-gap: 23px;
  }
  .franchise__about li{
    margin-left: 0;
    font-size: 14px;
  }
  .franchise__about li:before{
    width: 15px;
    height: 15px;
    left: -21px;
  }
  .franchise__banner h2{
    font-size: 26px;
    margin-left: 15px;
  }
  .franchise__img img{
    height: 9vh;
    width: 80px;
  }
  .franchise__card p{
    font-size: 12px;
    width: 70%;
  }
  .franchise__card{
    column-gap: 10px;
    justify-content: center;
  }
  .integration__title{
    font-size: 18px;
  }
  .integration__box{
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15px;
  }
  .integration__box p{
    width: 45%;
    font-size: 11px;
  }
  .integration__box img{
    width: 45%;
    height: 80px;
    border-radius: 8px;
  }
  .integration__city{
    font-size: 24px;
  }
  .integration__info{
    font-size: 15px;
  }
  .integration__swiper{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
    row-gap: 15px;
  }
  .integration__swiper img{
    width: 150px;
  }
  .price__title{
    font-size: 14px;
    margin-left: 10px;
    text-indent: 78px;
    line-height: 29px;
  }
  .nav{
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  .header__menu_active{
    height: 160vh;
  }
  .vacancies__contact{
    column-gap: 10px;
  }
  .vacancies__footer h2{
    font-size: 20px;
  }
  .vacancies__contact p{
    font-size: 14px;
    align-items: center;
    column-gap: 5px;
  }
  .vacancies__title{
    font-size: 20px;
  }
  .vacancies{
    margin-top: 0;
  }
  .vacancies__icon{
flex-wrap: nowrap;
    align-items: center;
    column-gap: 15px;
    justify-content: center;
  }
  .vacancies__icon h2{
font-size: 15px;
  }
  .vacancies__icon p{
    font-size: 13px;
  }
  .vacancies__vacancy{
    font-size: 24px;
    padding-left: 10px;
  }
  .aboutParkTab{
    font-size: 12px;
  }
  .place__title{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 3px;
  }
  .place__p{
    font-size: 12px;
    line-height: 20px;
  }
  .price__cards{
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;

  }
  .price__card{
width: 45%;
    padding: 5px 8px;
  }
  .price__card-price{
    font-size: 22px;
    column-gap: 5px;
  }
  .price__card-title{
    font-size: 14px;
  }
  .price__card-money{
    font-size: 20px;
  }
  .price__card-desc{
    font-size: 13px;
  }
  .mapIcons{
    padding-bottom: 30px;
    margin-top: 10px;
  }
  .mapIcons__title{
    font-size: 28px;
  }
  .place__txt{
    height: 165px;
    top: 55px;
    right: 25px;
  }
  .footer__list{
width: 150px;
  }
  .footer__list li{
    font-size: 14px;
    font-weight: 500;
  }
  .nav__link{
    font-weight: 400;
    font-size: 14px;
  }
  .reviews__left h2{
    font-size: 22px;
    margin-bottom: 10px;
  }
  .reviews__radio{
    row-gap: 0;
  }
  .reviews__text{
    margin: 10px 0;
    padding: 10px;
  }
  .reviews__stars{
    margin: 0 0 10px 0;
  }
  .reviews .request__error{
    margin-bottom: 5px;
    padding: 10px 0 0 0;
  }
  .vacancies__all{
    flex-direction: column;
    width: 100%;
  }
  .vacancies__one{
    width: 100%;
    height: auto;
  }
  .vacancies__name{
    margin-bottom: 8px;
  }
  .vacancies__text{
    margin-bottom: 10px;
  }
  .oneVacancy__text{
    width: 100%;
    text-align: left;
  }
  .oneVacancy__wrapper{
    width: 90%;
    padding: 5px;
  }
  .oneVacancy__name{
    margin-bottom: 10px;
  }
  .oneVacancy__lists{
    column-gap: 20px;
  }
  .allStock__oneStock{
    height: auto;
    flex-direction: column;
  }
  .allStock__oneStock img{
    width: 90%;
  }
  .allStock__name{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .allStock__text{
    font-size: 18px;
  }
  .about-park__tabs{
    height: 56px;
  }
  .aboutParkTab.active{
    height: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .aboutParkTab{
    height: 100%;
  }
  .aboutCompany__smagic{
    width: 38%;
    height: 28px;
  }
  .aboutCompany__sky{
    width: 36%;
  }
  .aboutCompany__right h2{
    margin-top: 20px;
    font-size: 24px;
  }
  .aboutCompany__right p{
    font-size: 16px;
  }
  .aboutCompany__right{
    padding-left: 15px;
    padding-right: 15px;
  }
  .aboutCompany__info img{
    width: 50%;
  }
  .vacancies__img{
    padding-left: 20px;
  }
  .banner .banner__second-slider{
padding-top: 62px;
    padding-bottom: 10px;
  }
  .price__imageTitle {
    width: 70px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 2px;
  }
.price__imageTitleSky {
  width: 73px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 6px;
}
  .support__container{
    flex-direction: column;
  }
  .support__left{
    width: 100%;
    display: flex;
    padding-left: 15px;

  }
  .support__left img{
    width: 45%;
  }
  .support__sky{
    width: 30%;
  }
  .support__right{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .support__right h2{
    font-size: 20px;
  }
}
