.banner{

  &__container{
    position: relative;
    height: 100vh;
    background: url("../images/main-baner.jpg")center/cover no-repeat;

  }
  &__title{
    position: absolute;
    padding: 30px 90px;
    top: 23%;
    left: 55%;

    z-index: 1;
    color: white;

    background: #11111170;
    border-radius: 10px;
    line-height: 80px;
    text-align: center;

  }
  &__smagic{
    font-size: 70px;


  }
  &__text{
    font-size: 25px;
  }
}