.banner{

  &__container{
    position: relative;
    height: 100vh;
    background: url("https://media.disneylandparis.com/d4th/en-gb/images/hd00000_2050dec31_world_avengers-campus-digital-key-visual_5-2_tcm752-236724.jpg?w=1920")center/cover no-repeat;

  }
  &__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    color: white;
    font-size: 90px;
    text-align: center;
  }
}