.footer{
  background-color: #313031;

  & .container{
    padding: 48px 0 66px;
  }
  &__lists{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__list li:first-child {
    font-size: 18px;
    color: #fff;
    margin-bottom: 32px;
  }

  &__list li{
    a{
      color: #808285;
    }
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 20px;
    list-style-type: none;
  }

  &__social {
  ul{
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  li a{
    color: white;
    font-size: 30px;
  }
  }
  &__contact a{
    color: white;
    font-size: 24px;

  }
  &__email a {
    color: white;
    font-size: 24px;
   column-gap: 10px;
    display: flex;
    align-items: center;
  }
  .footer__connection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 30px 0;
    margin-top: 15px;
  }

}